* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
    overflow-x: hidden;
}


@font-face {
    font-family: 'rethink-sans';
    src: url('RethinkSans-ExtraBold.ttf');
}

svg {
    /*may be better way to move it*/
    position: relative;
    cursor: pointer;
    width: 100px;
    height: 100px;
    z-index: 1;
}

#icon g{
    outline: none;
    stroke-width: 14;
    stroke: white;
    transition: stroke-width .25s ease-in-out;
}

#icon:hover {
    g {
        stroke-width: 22;
        transition: stroke-width .5s ease-in-out;
    }
}


a {
    text-decoration: none;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.menu {
    display: flex;
}

.menu li {
    list-style: none;
    margin-right: 3em;
    padding-top: 30px;
    font-size: 1.2em;
    font-family: 'rethink-sans';
}

.menu li:hover {
    border-bottom: 3px solid rgb(146, 146, 146);
}

input[type=checkbox] {
    display: none;
  } 
  
.hamburger {
    font-size: 24px;
    user-select: none;
    margin: 10px;
    display: none;
}

@media (max-width: 45em) {
    .menu {
        position: absolute;
        display:none;
        right: 0;
        left: 15px;
        text-align: center;
    }

    .menu li:hover {
        display: inline-block;
        transition: 0.3s ease;
    }
    .menu li {
        padding: 5px;
        margin: 5px;
    }

    input[type=checkbox]:checked ~ .menu {
        display: block;
    }

    .hamburger {
        display: block;
    }
}

.greeting{
    font-family: 'rethink-sans';
    font-size: 2em;
    padding-top: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

i {
    padding: 5px;
}

.blob-motion {
    position: absolute;
    transform: translateY(-20%);
    z-index: 0;
    top: 260px;
    transform: scale(5);
  }

  .blob-content {
    z-index: 1;
    background: none;
  }

  p, i, a{
    background: none;
  }
